<div class="auth-wrapper align-items-stretch aut-bg-img">
  <notifier-container></notifier-container>
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid">
        <h1 class="text-white my-4">¡Cambie de seguridad!</h1>
        <h4 class="text-white font-weight-normal">Cambie a una contraseña más segura para proteger mejor su cuenta.<br/>Puede agregar caracteres especiales.</h4>
      </div>
    </div>
    <div class="auth-side-form">
      <div class=" auth-content">
        <img src="assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
        
          <h4 class="mb-4 f-w-400 text-center">Cambiar Contraseña</h4>
          <form [formGroup]="RegistroForm" autocomplete="nope" novalidate >
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Nueva contraseña" name="password1" id="password1" formControlName="password1"  [(ngModel)]='formularioChange.password1'>
            </div>
            <div
                      *ngIf="RegistroForm.get('password1').errors && RegistroForm.get('password1').dirty">
                      <p *ngIf="RegistroForm.get('password1').hasError('required')"
                        class="texto-naranja fadeIn">
                        ¡Contraseña requerida!
                      </p>
           </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Confirmar contraseña" name="password2" id="password2" formControlName="password2"  [(ngModel)]='formularioChange.password2'>
            </div>
            <div
                      *ngIf="RegistroForm.get('password2').errors && RegistroForm.get('password2').dirty">
                      <p *ngIf="RegistroForm.get('password2').hasError('required')"
                        class="texto-naranja fadeIn">
                        ¡Vuelva a escribir la contraseña!
                      </p>
           </div>


          </form>
        <button class="btn btn-outline-success btn-block mb-4" (click)="Change(RegistroForm.value, RegistroForm.valid)"><i class="feather icon-check-circle"></i> Cambiar contraseña</button>
        
      </div>
    </div>
  </div>
</div>
