<notifier-container></notifier-container>
<ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="line-scale-party">
  <p style="font-size: 20px; color: white" fullScreen="true">Cargando...</p>
</ngx-spinner>
<div class="view-info" *ngIf="Detallepropiedad">
  <div class="row mr-3 ml-3" >
    <div class="col-md-12 ">
      <div class="card fondo-blanco94" >
        <app-card [options]="false" [hidHeader]="true">
          <blockquote class="blockquote m-t-15 m-b-0 ">
            <h1>{{formularioPerfil.primerNombre}} {{formularioPerfil.primerApellido}}</h1>
            <h5 class="texto-gris">Bienvenido/a a mi perfil, aquí encontrarás todas mis propiedades.</h5>
          </blockquote>
        </app-card>
        <div class="card-group">
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <img class="card-img" src="{{formularioPerfil.imagenPerfil}}" alt="Card image">
              
            </div>
          </div>
          <div class="col-xl-6 col-md-12">
            <div class="row">
              <div class="col-md-6">
                <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-green">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h4 class="text-c-green">{{formularioPerfil.primerNombre}} {{formularioPerfil.primerApellido}} </h4>
                      <h6 class="text-muted m-b-0">Nombre completo</h6>
                    </div>
                    <div class="col-4 text-right">
                      <i class="feather icon-user f-28"></i>
                    </div>
                  </div>
                  <div class="app-card-footer">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">Información personal</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </app-card>
              </div>
              <div class="col-md-6">
                <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-yellow">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h4 class="text-c-yellow">{{formularioPerfil.fechaNacimiento}}</h4>
                      <h6 class="text-muted m-b-0">Fecha de Nacimiento</h6>
                    </div>
                    <div class="col-4 text-right">
                      <i class="feather icon-calendar f-28"></i>
                    </div>
                  </div>
                  <div class="app-card-footer">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">Información personal</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </app-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h5 class="text-c-blue">{{formularioPerfil.correoElectronico}}</h5>
                      <h6 class="text-muted m-b-0">Correo electrónico</h6>
                    </div>
                    <div class="col-4 text-right">
                      <i class="feather icon-mail f-28"></i>
                    </div>
                  </div>
                  <div class="app-card-footer">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">Información de contacto</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </app-card>
              </div>
              <div class="col-md-6">
                <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-red">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h4 class="text-c-red">{{formularioPerfil.telefono}}</h4>
                      <h6 class="text-muted m-b-0">Teléfono</h6>
                    </div>
                    <div class="col-4 text-right">
                      <i class="feather icon-phone-call f-28"></i>
                    </div>
                  </div>
                  <div class="app-card-footer">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <p class="text-white m-b-0">Información de contacto</p>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </app-card>
              </div>

            </div>
          </div>
        </div>
        <app-card [options]="false" [hidHeader]="true">
          <blockquote class="blockquote m-t-15 m-b-0 ">
            <h1>Mis propiedades (1)</h1>
            <h5 class="texto-gris">Propiedades disponibles y alquiladas</h5>
          </blockquote>
        </app-card>
        <div class="col-md-12 row p-t-30 p-b-30">
          <div *ngFor="let item of propiedades; let i= index" class="col-md-4">
            
            <app-card cardTitle="{{item.titulo}}" [options]="false" [hidHeader]="false" blockClass="m-t-15" [isCardFooter]="true" footerClass="bg-dark">
              <ngb-carousel [showNavigationArrows]="false" [interval]="3000">
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="{{item.image_1}}" alt="First Slide">
                  <div class="card-img-overlay">
                    <h4><span class="card-title badge m-r-10 badge-pill badge-success"> {{(item.reservacion==1)?'Disponible': 'Alquilado'}}</span></h4>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="{{item.image_2}}" alt="Ssecond Slide">
                  <div class="card-img-overlay">
                    <h4><span class="card-title badge m-r-10 badge-pill badge-success"> {{(item.reservacion==1)?'Disponible': 'Alquilado'}}</span></h4>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="{{item.image_3}}" alt="Third Slide">
                  <div class="card-img-overlay">
                    <h4><span class="card-title badge m-r-10 badge-pill badge-success"> {{(item.reservacion==1)?'Disponible': 'Alquilado'}}</span></h4>
                  </div>
                </ng-template>
                
              </ngb-carousel>
              <div class="content">
                
                <div class="col p-t-10 p-b-10">
                  <div class="d-inline-block align-middle">
                    <img src="{{formularioPerfil.imagenPerfil}}" alt="user image" class="img-radius wid-40 align-top m-r-15">
                    <div class="d-inline-block">
                      <h5>{{formularioPerfil.primerNombre}} {{formularioPerfil.primerApellido}}</h5>
                      <p class="text-muted m-b-0">Ánfitrión de la propiedad</p>
                    </div>
                  </div>
                </div>
                <div class="col p-t-5 p-b-5">
                  <h4 class="mt-3 mr-3"><strong><span class="fas fa-map-marker-alt fa-lg"></span> {{item.direccion}}</strong></h4>
                </div>
      
                <div class="col p-t-5 p-b-5">
                  <h3><span class="badge m-r-10 badge-pill badge-light-primary"><strong><span class="fas fa-dollar-sign fa-lg"></span> {{item.precioPorNoche}}</strong></span></h3>
                  
                </div>
              
                <div class="row justify-content-md-center p-t-5 p-b-5">
                  
                  <div class="col-lg-2">
                    <i class="fas fa-bath text-dark fa-lg"></i>
                    <h4 class="text-dark mt-3 mr-3"> {{item.cantidadBanios}} </h4>
                  </div>
                  <div class="col-lg-2">
                    <i class="fas fa-bed text-dark fa-lg"></i>
                    <h4 class="text-dark mt-3 mr-3"> {{item.numHabitaciones}} </h4>
                  </div>
                  <div class="col-lg-2">
                    <i class="fas fa-wifi text-dark fa-lg"></i>
                    <h4 class="text-dark mt-3 mr-3"> {{(item.internet==1)?'Si': 'No'}} </h4>
                  </div>
                  <div class="col-lg-2">
                    <i class="fas fa-car text-dark fa-lg"></i>
                    <h4 class="text-dark mt-3 mr-3"> {{item.estacionamiento}} </h4>
                  </div>
                  
                </div>
      
              </div>
              <div class="app-card-footer">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 (click)="modalPropiedad.show();openModal(item, dataConst.tipoPut)" class="text-white">Ver detalles<span class="feather icon-chevron-right f-25"></span></h5>
                  </div>
                  <div class="col text-right">
                    <h5 class="text-white "><strong><span class="feather icon-calendar text-white f-16"></span> {{item.inicioFechaDisponible | date: 'dd-MMM'}} - {{item.finFechaDisponible | date: 'dd-MMM'}}</strong></h5>
                  </div>
                </div>          
              </div>
      
            </app-card>
            
          </div>
        </div> 
        <!--<div class="contenedor1">

          <div class="row p-t-30 p-b-30">
            <div class="col-sm-4">
              <app-card cardTitle="Casa de campo Valle de Ángeles" [options]="false" [hidHeader]="false" blockClass="m-t-15" [isCardFooter]="true" footerClass="bg-dark">
                <ngb-carousel [showNavigationArrows]="false" [interval]="3000">
                  <ng-template ngbSlide>
                    <img class="d-block w-100" src="assets/images/slider/prueba1.jpg" alt="First Slide">
                    <div class="card-img-overlay">
                      <h4><span class="card-title badge m-r-10 badge-pill badge-success"> Disponible</span></h4>
                    </div>
                    
                    <div class="carousel-caption d-none d-md-block">
                      <h6 (click)="toggleDetallePropiedad()"class="text-white">Ver más<span class="feather icon-chevron-right f-25"></span></h6>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block w-100" src="assets/images/slider/prueba2.jpg" alt="Ssecond Slide">
                    <div class="card-img-overlay">
                      <h4><span class="card-title badge m-r-10 badge-pill badge-success"> Disponible</span></h4>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h6 (click)="toggleDetallePropiedad()"class="text-white">Ver más<span class="feather icon-chevron-right f-25"></span></h6>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block w-100" src="assets/images/slider/prueba3.jpg" alt="Third Slide">
                    <div class="card-img-overlay">
                      <h4><span class="card-title badge m-r-10 badge-pill badge-success"> Disponible</span></h4>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                      <h6 (click)="toggleDetallePropiedad()"class="text-white">Ver más<span class="feather icon-chevron-right f-25"></span></h6>
                    </div>
                  </ng-template>
                  
                </ngb-carousel>
                <div class="content">
                  
                  <div class="col p-t-10 p-b-10">
                    <div class="d-inline-block align-middle">
                      <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h5>David Aguilera</h5>
                        <p class="text-muted m-b-0">Ánfitrión de la propiedad</p>
                      </div>
                    </div>
                  </div>
                  <div class="col p-t-5 p-b-5">
                    <h4 class="mt-3 mr-3"><strong><span class="fas fa-map-marker-alt fa-lg"></span> Valle de Ángeles, Francisco Morazán</strong></h4>
                  </div>
        
                  <div class="col p-t-5 p-b-5">
                    <h3><span class="badge m-r-10 badge-pill badge-light-primary"><strong><span class="fas fa-dollar-sign fa-lg"></span> 2000</strong></span></h3>
                    
                  </div>
                
                  <div class="row justify-content-md-center p-t-5 p-b-5">
                    
                    <div class="col-lg-2">
                      <i class="fas fa-bath text-dark fa-lg"></i>
                      <h4 class="text-dark mt-3 mr-3"> 2 </h4>
                    </div>
                    <div class="col-lg-2">
                      <i class="fas fa-bed text-dark fa-lg"></i>
                      <h4 class="text-dark mt-3 mr-3"> 3 </h4>
                    </div>
                    <div class="col-lg-2">
                      <i class="fas fa-wifi text-dark fa-lg"></i>
                      <h4 class="text-dark mt-3 mr-3"> Si </h4>
                    </div>
                    <div class="col-lg-2">
                      <i class="fas fa-car text-dark fa-lg"></i>
                      <h4 class="text-dark mt-3 mr-3"> No </h4>
                    </div>
                    
                  </div>
        
                </div>
                <div class="app-card-footer">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 (click)="toggleDetallePropiedad()"class="text-white">Ver detalles<span class="feather icon-chevron-right f-25"></span></h5>
                    </div>
                    <div class="col text-right">
                      <h5 class="text-white "><strong><span class="feather icon-calendar text-white f-16"></span> 30 Oct - 03 Nov</strong></h5>
                    </div>
                  </div>          
                </div>
        
              </app-card>
            </div>
            
          </div>
        </div>-->
        
        
        
        
        
      </div>
    </div>

</div>
  
</div>

<app-ui-modal #modalPropiedad [dialogClass]="'modal-lg'" >
  <div class="app-modal-body">
    <form [formGroup]="TipoPropiedadForm" autocomplete="nope" novalidate *ngIf="paso==1">
      <div class="card fondo-blanco94" >
        <div class="row">
          <div class="col-sm-12">
            <app-card cardTitle="Casa de Campo" [options]="false" [hidHeader]="true">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="assets/images/slider/prueba1.jpg" alt="First Slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-white my-4">{{infoPropiedad.titulo}}</h1>
                    <h4 class="text-white">Lista para reservar, ¡Que esperas!</h4>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="assets/images/slider/prueba2.jpg" alt="Ssecond Slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-white my-4" name="titulo" id="titulo" formControlName="titulo"></h1>
                    <h4 class="text-white">Lista para reservar, ¡Que esperas!</h4>
                  </div>
                  
                </ng-template>
                <ng-template ngbSlide>
                  <img class="d-block w-100" src="assets/images/slider/prueba3.jpg" alt="Third Slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-white my-4">Casa de Campo en Valle de Ángeles</h1>
                    <h4 class="text-white">Lista para reservar, ¡Que esperas!</h4>
                  </div>
                  
                </ng-template>
              </ngb-carousel>
      
            </app-card>
          
          </div>
    
          
          
        <div class="col-lg-8 col-md-12">
          <app-card cardTitle="Detalle del Anfitrión" headerClass="borderless" cardClass="table-card review-card">
            <div class="review-block">
              <div class="row">
                <div class="col-sm-auto p-r-0">
                  <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                </div>
                <div class="col">
                  <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> Dueño de la propiedad</span></h6>
                  <p class="m-t-15 m-b-15 text-muted">Estoy encantado de recibirte en mi propiedad, por favor ven y disfruta.</p>
                  <blockquote class="blockquote m-t-15 m-b-0">
                    <h5>Información de contacto</h5>
                    <h6 class="m-b-0 text-muted"><strong><span class="feather icon-mail"></span> Correo electrónico : d@gmail.com</strong></h6>
                    <h6 class="m-b-0 text-muted"><strong><span class="feather icon-phone-call"></span> Teléfono: 1891288912</strong></h6>
                    
                  </blockquote>
                </div>
              </div>
            </div>
        
          </app-card>
          <div class="row">
            <div class="col-md-6">
              <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-green">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-green">$2000</h4>
                    <h6 class="text-muted m-b-0">por noche</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="feather icon-credit-card f-28"></i>
                  </div>
                </div>
                <div class="app-card-footer">
                  <div class="row align-items-center">
                    <div class="col-9">
                      <p class="text-white m-b-0">El mejor precio en el mejor lugar</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                  </div>
                </div>
              </app-card>
            </div>
            <div class="col-md-6">
              <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-yellow">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-yellow">Valle de Ángeles</h4>
                    <h6 class="text-muted m-b-0">Dirección</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="feather icon-map-pin f-28"></i>
                  </div>
                </div>
                <div class="app-card-footer">
                  <div class="row align-items-center">
                    <div class="col-9">
                      <p class="text-white m-b-0">El mejor precio en el mejor lugar</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                  </div>
                </div>
              </app-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-blue">24 oct - 30 oct</h4>
                    <h6 class="text-muted m-b-0">fecha disponible</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="feather icon-calendar f-28"></i>
                  </div>
                </div>
                <div class="app-card-footer">
                  <div class="row align-items-center">
                    <div class="col-9">
                      <p class="text-white m-b-0">El mejor precio en el mejor lugar</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                  </div>
                </div>
              </app-card>
            </div>
            <div class="col-md-6">
              <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-red">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="text-c-red">3 huéspedes</h4>
                    <h6 class="text-muted m-b-0">cantidad de huéspedes</h6>
                  </div>
                  <div class="col-4 text-right">
                    <i class="feather icon-users f-28"></i>
                  </div>
                </div>
                <div class="app-card-footer">
                  <div class="row align-items-center">
                    <div class="col-9">
                      <p class="text-white m-b-0">El mejor precio en el mejor lugar</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="feather icon-trending-up text-white f-16"></i>
                    </div>
                  </div>
                </div>
              </app-card>
            </div>
          </div>
        </div>
        <!-- latest customers end -->
        <div class="col-xl-4 col-md-12">
          <app-card cardTitle="Detalle de la Propiedad" cardClass="latest-update-card">
            <div class="latest-update-box">
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">Casa</p>
                  <i class="feather icon-home bg-twitter update-icon"></i>
                </div>
                <div class="col">
                  <h6>Tipo de propiedad</h6>
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">Alojamiento</p>
                  <i class="feather icon-home bg-c-red update-icon"></i>
                </div>
                <div class="col">
                  <h6>Tipo de espacio</h6>
              
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">3</p>
                  <i class="fas fa-bed fa-lg bg-facebook update-icon"></i>
                </div>
                <div class="col">
                  <h6>Número de habitaciones</h6>
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">3</p>
                  <i class="fas	fa-car-side bg-c-green update-icon"></i>
                </div>
                <div class="col">
                  <h6>Estacionamiento</h6>
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">2</p>
                  <i class="fas fa-bath fa-lg bg-c-yellow update-icon"></i>
                </div>
                <div class="col">
                  <h6>Cantidad de baños</h6>
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">SI</p>
                  <i class="feather icon-wind bg-c-red update-icon"></i>
                </div>
                <div class="col">
                  <h6>Aire acondicionado</h6>
                </div>
              </div>
              <div class="row p-t-30 p-b-30">
                <div class="col-auto text-right update-meta">
                  <p class="text-muted m-b-0 d-inline-flex">NO</p>
                  <i class="feather icon-wifi bg-c-green update-icon"></i>
                </div>
                <div class="col">
                  <h6>Internet</h6>
                </div>
              </div>
      
            </div>
            
          </app-card>
        </div>
        
        </div>
        <div class="div-btn-centro btn-gruop mb-3">
          <button type="button" class="btn btn-outline-info ml-2" data-dismiss="modal" (click)="modalPropiedad.hide(); hideModal()"><strong><span class="feather icon-check-square"  ></span> Aceptar</strong></button>
        </div>
    
      </div>
      

    </form>
  </div>

</app-ui-modal>



